.catalog-header__wrapper {
  width: 320px;
  background-color: $gray-background;
}

.catalog-headline {
  height: 177px;
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
}
