.contacts {
  margin-bottom: 52px;
}

.contacts__wrapper {
  height: 212px;
}

.contacts__header {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
  padding-left: 29px;
  margin-top: 38px;
}

.contacts-list {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-gray;
  padding-left: 29px;
  margin-top: 28px;
}

.contacts-email__link {
  color: $dark-gray;
  text-decoration: none;
  border-bottom: 1px solid $aquamarine-line;
  padding-bottom: 2px;
  transition: all 0.2s ease-out;
}

.contacts-email__link:hover,
.contacts-email__link:focus {
  color: $aquamarine-line;
}

.contacts-email__link:active {
  border-bottom: 1px solid $main-aquamarine-darker-underline-active;
}

.contacts__map {
  background-image: url("../img/map-plug.png");
  width: 320px;
  height: 454px;
  margin-bottom: 59px;
}

.contacts__button {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-gray;
  margin-left: 30px;
  padding: 13px 50px 11px 49px;
}

.contacts-list__item-wrapper {
display: flex;
justify-content: flex-start;
margin-bottom: 30px;
}

.contacts-list__item-term {
  margin-right: -5px;
}
