.page-footer {
  width: 320px;
  height: 160px;
  background-color: $background-gray;
}

.developer--header {
  font-family: Opensans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $black;
}
