.form-header__wrapper {
  width: 320px;
}

.form-headline {
  height: 177px;
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  background-color: $gray-background;
}

.form-description {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $dark-gray;
}
