.user-field__header {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $aquamarine;
  text-transform: uppercase;
}

.user-field__label {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $black;
}

.user-field__input {
  border: none;
  border-bottom: solid 2px $black;
}
