.main-nav__list {
  font-family: Opensans, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.site-list__item {
  width: 320px;
  height: 79px;
}

.user-list__item {
  width: 320px;
  height: 79px;
}

.site-list__link {
  text-decoration: none;
}

.user-list__link {
  text-decoration: none;
}

.user-serch--field {
  display: none;
}
