.product-of-the-week__wrapper {
  width: 320px;
  height: 781px;
  padding-left: 30px;
  padding-right: 30px;
}

.product-of-the-week__header {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;
  margin-bottom: 0;
}

.product-of-the-week__promo {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $aquamarine;
  text-transform: uppercase;
  margin-top: 3px;
}

.product-description__wrapper {
  height: 212px;
}

.product-description__text {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 260px;
  font-size: 15px;
  line-height: 24px;
  color: $dark-gray;
}

.product-description__list {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $dark-gray;
  margin-top: 28px;
}

.product-description__item {
  width: 260px;
  height: 32px;
  margin-bottom: 7px;
  border-bottom: 1px solid $border-header-menu;
  display: flex;
}

.product-description__term {
  width: 58px;
}

.product-of-the-week__image {
  margin-top: 13px;
}

.product-description__price {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-gray;
  text-align: center;
  width: 130px;
  margin-left: 64px;
  margin-top: 22px;
  margin-bottom: 40px;
}

.product-description__button {
  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 80px 12px 81px;
  transition: all 0.2s ease-out;
  color: $dark-gray;
}

.product-description__button--text {
  transition: all 0.2s ease-out;
}

.product-description__button:hover,
.product-description__button:focus {
  background-color: $dark-gray;
  color: $white;
}

.product-description__button:active,
.product-description__button--text {
  opacity: 0.3;
}
