.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__main {
  margin: 0;
  padding: 0;
}

.page__body {
  width: 320px;
  margin: 0;
  padding: 0;
}

.zig-zag__item {
  position: relative;
  border: none;
  height: 6px;
  width: 100%;
}

.zig-zag__item::before {
  content: "";
  background-image: url("../img/zigzag-line.svg");
  background-position: center;
  position: absolute;
  height: 6px;
  width: 100%;
}
