$black: #000000;
$white: #ffffff;
$dark-gray: #444444;
$border-line-footer: #e5e5e5;
$gray-background: #f1f1f1;
$aquamarine: #63d1bb;
$aquamarine-darker: #56c3b2;
$aquamarine-line: #62d1ba;
$main-aquamarine-hover: #59d5bc;
$main-aquamarine-darker-hover: #46c1ae;
$main-aquamarine-darker-underline-active: rgba(70, 193, 174, 0.1);
$border-popup: rgba(68, 68, 68, 0.1);
$border-popup-hover: rgba(68, 68, 68, 0.3);
$border-header-menu: #ececec;
$border-popup-window: #c6c6c6;
$popup-shadow: rgba(0, 1, 1, 0.25);
