$black: #000000;
$white: #ffffff;
$dark-gray: #444444;
$gray-background: #f1f1f1;
$aquamarine: #63d1bb;
$aquamarine-darker: #56c3b2;
$aquamarine-line: #62d1ba;
$main-aquamarine-hover: #59d5bc;
$main-aquamarine-darker-hover: #46c1ae;
$border-popup: rgba(68, 68, 68, 0.1);

